*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	word-spacing: 2px;
	line-height: 1.5;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(240,240,240);
}
#container {
	width: 400px;
	height: 400px;
	
	border-radius: 10px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
#btn {
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: rgb(200,200,250);
	transition: all 0.2s ease;
}
#btn:active {
	transform: scale(1);
	border : 0px solid rgb(100,100,250);
}
.bold {
	font-weight: bold;
}
.red {
	color: red;
}